[submodule "themes/LoveIt"]
	path = themes/LoveIt
	url = https://ghproxy.com/https://github.com/dillonzq/LoveIt.git
[submodule "themes/FixIt"]
    	path = themes/FixIt
    	url = https://ghproxy.com/https://github.com/Lruihao/FixIt
